{% css %}
.product_cart_whatsapp_button a {
    background-color: {{settings['backgroundcolor']}};
    color: {{settings['textcolor']}};
    padding: 0.5em 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    vertical-align: middle;
    line-height: 1.2;
    display: inline-block;

}
{% endcss %}
<div class ="product_cart_whatsapp_button">
<a href='https://web.whatsapp.com/send?phone="{{number|trim}}"&text={{message|url_encode}}' target="_blank">{{settings['buttontext'] ? settings['buttontext'] :'Order on Whatsapp' }}</a>
</div>